services:
  db:
    image: postgres:16-alpine
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    env_file:
      - ../../.env
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      timeout: 2s
      retries: 5

volumes:
  postgres_data:
