services:

  db:
    image: postgres:16-alpine
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    env_file:
      - ../../.env
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
