name: CI

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint (Biome)
        uses: biomejs/setup-biome@v2
        with:
          version: latest
      - run: biome ci .

      - name: Build Backend
        run: pnpm --filter backend run build
